nav {
    background-color: #46393a;
}


.logo {
    width: 350px;
}

.categoria {
    background-color: #46393a;
    border-radius: 20px;
}

.texto-informativo {
    color: #d9d9d9;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #d9d9d9;
    padding: 2px;
}

a:hover {
    background-color: #665151;
}

a p {
    font-size: 0.9rem;
}

a p:hover {
    color: #fff;
}

a.active {
    background-color: #665151;
    color: white;
    text-decoration: underline;
}



.bottom-bar {
    z-index: 1000;
}

.conteudo {
    padding-bottom: 160px;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #46393a;

}

.formulario {
    background-color: #46393a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
}

/* textarea estilo WhatsApp */
.barra-pesquisa-input {
    resize: none;
    overflow-y: auto;
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
    color: #fff;
    padding: 0 12px;
    margin: 0;
    min-height: 40px;
    max-height: 40px;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;

}

.preview-foto {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 6px;
    display: block;
}

.campo-pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #46393a;
    border-radius: 24px;
    flex: 1;
    position: relative;
}

.placeholder-fake {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #bfbfbf;
    pointer-events: none;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
}

.rodape {
    padding-bottom: 1.5rem;
}

.btn-adicionar {
    background-color: #ffffff00;
    border: none;
}

.popover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}


.popup {
    background-color: #46393a;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.popover-body {
    background-color: transparent;
    padding: 0;
}


.popup button {
    background-color: #46393a;
    color: white;
    border: none;
    text-align: left;
}

.popup button:hover {
    background-color: #665151;
    color: #fff;
}

.popover-arrow {
    --bs-popover-bg: transparent;
    background-color: transparent;
}


.popover-body {
    background-color: transparent;
    padding: 0;
}