
body {
    font-family: "Poppins", sans-serif;
    background-color: #2c2022;
    text-decoration: none;
    color: #ffffff
}

.icon{
    width: 20px;
    height: 20px;
}

main{
    padding-top: 50px;
}